{% extends 'neighbours/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card container container-fluid mt-4">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
                <div class="col-md-3">
                    <!-- empty -->
                </div>
                <div class="col-md-4">
                    <a href="{% url 'profile' %}" class="btn btn-outline-danger">Cancel</a>
                </div>
            </div>
            
        </div>
    </form>
</div>
{% endblock %}